result/appium-screenshot-1.png
result/appium-screenshot-2.png
result/appium-screenshot-3.png
result/appium-screenshot-4.png
result/appium-screenshot-5.png
result/appium-screenshot-6.png
result/appium-screenshot-7.png
result/appium-screenshot-8.png
result/appium-screenshot-9.png
result/appium-screenshot-10.png
result/appium-screenshot-11.png
result/appium-screenshot-12.png
result/appium-screenshot-13.png
result/appium-screenshot-14.png
result/appium-screenshot-15.png
result/appium-screenshot-16.png
result/appium-screenshot-17.png
result/appium-screenshot-18.png
result/appium-screenshot-19.png
result/appium-screenshot-20.png
result/appium-screenshot-21.png
result/appium-screenshot-22.png
result/appium-screenshot-23.png
result/appium-screenshot-24.png
result/appium-screenshot-25.png
result/geckodriver-1.log
result/geckodriver-2.log
result/geckodriver-3.log
result/geckodriver-4.log
result/geckodriver-5.log
result/geckodriver-6.log
result/geckodriver-7.log
result/geckodriver-8.log
result/geckodriver-9.log
result/geckodriver-10.log
result/geckodriver-11.log
result/log.html
result/output.xml
result/report.html
